@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Berry Juice</h1>

<p>Hello Berry Juice User</p>

<nav>
    <ul class="nav-list">
        <li class="nav-item">
            <NavLink class="nav-link" href="/wallet">Wallet</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/expense-tracker">Expense-tracker</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/BookKeepPage">Bookkeep</NavLink>
        </li>
    </ul>
</nav>
