@page "/"

<PageTitle>HomePage</PageTitle>

<h1>Welcome to BerryJuice</h1>

<p>Hello BerryJuice</p>

<div class="mt-4">
    <h2>Navigation</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <NavLink class="nav-link" href="/Wallet">Wallet</NavLink>
        </li>
        <li class="list-group-item">
            <NavLink class="nav-link" href="/BookKeeping">BookKeeping</NavLink>
        </li>
    </ul>
</div>
