@page "/User"
@rendermode InteractiveServer
@inject NavigationManager Navigation

<h3>UserPage</h3>

@* 用户信息展示 *@

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="navigation">Login</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="_navigation">Register</MudButton>

@code {

    public void navigation()
    {
        Navigation.NavigateTo(uri: "/Login");
    }

    public void _navigation()
    {
        Navigation.NavigateTo(uri: "/Register");
    }

}