@page "/Budget"
@rendermode InteractiveServer

<h1>Budget</h1>
<label for="BudgetType">Type:</label>
<input  id="BudgetType" @bind="inputName" placeholder="Enter expense type" />

<label for="Account">Amount:</label>
<input id="Account" type="number" @bind="inputMoney" placeholder="Enter amount" />

<button @onclick="AddBudgetEntries">Add Budget Entry</button>

<h2>Budget Entries</h2>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in BudgetEntries)
        {
            <tr>
                <td>@entry.Name</td>
                <td>@entry.Account.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    private class BudgetItem
    {
        public string Name { get; set; }
        public decimal Account { get; set; }
    }
    private string? inputName { get; set; }
    private decimal inputMoney { get; set; }

    private List<BudgetItem> BudgetEntries = new List<BudgetItem>();
    private BudgetItem budget = new BudgetItem();

    private void AddBudgetEntries()
    {
        if (!string.IsNullOrWhiteSpace(inputName) && inputMoney > 0)
        {
            var existingBudget = BudgetEntries.FirstOrDefault(a => a.Name == inputName);
            if (existingBudget == null)
            {
                BudgetEntries.Add(new BudgetItem { Name = inputName, Account = inputMoney });
            }
            else
            {
                existingBudget.Account += inputMoney;
            }
        }
        inputName = string.Empty;
        inputMoney = 0;
    }
}
