@page "/Transaction"
@using Primitives.EventBusScopedWrapper
@inject IEventBusWrapper EventBus
@rendermode InteractiveServer

<h3>My Wallet</h3>

<div class="form-group">
    <label for="selectAccount">Select Account:</label>
    <InputSelect id="selectAccount" @bind-Value="SelectedAccountId">
        @foreach (var account in _accounts)
        {
            <option value="@account.Id">
                @account.Description
            </option>
        }
    </InputSelect>
</div>

<CascadingValue Name="AccountId" Value="SelectedAccountId">
    <TransactionList/>
    <CreateNewTransaction/>
    <AccountTransactionTotal/>
</CascadingValue>
